.GameHistoryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .played-games-list {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    max-width: 40rem;
    width: 100%;
    max-height: 25rem;
    overflow-y: auto;
  }
  
  .played-games-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .played-games-list li {
    padding: 1rem;
    border-bottom: 0.063rem solid #ddd;
    transition: background-color 0.3s ease;
  }
  
  .played-games-list li:hover {
    background-color: #f9f9f9;
  }
  
  .played-games-list li:last-child {
    border-bottom: none;
  }
  
  .game-details {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: #333;
  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 2rem;
  }
  
  p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1.5rem;
  }
  
  button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #3552b0;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
  }
  
  button:hover {
    background-color: #283e88;
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 0.3rem rgba(18, 27, 109, 0.5);
  }
  