.search-quiz-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.search-input {
    width: 100%;
    padding: 2rem;
    margin: 2rem 0;
    font-size: 3.25rem;
}

.dropdown {
    margin: 2rem 0;
}

.quiz-list {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
}

.loading-indicator {
    text-align: center;
    margin: 4rem 0;
}

.empty-message {
    text-align: center;
    color: gray;
    font-size: 3.5rem;
    margin-top: 4rem;
}

.load-more-button {
    margin: 4.125rem auto;
    padding: 2rem 4.125rem;
    font-size: 3rem;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 1rem;
}

.load-more-button:hover {
    background-color: #0056b3;
}